flows (8).json
[
    {
        "id": "fe09c3c64111130d",
        "type": "tab",
        "label": "Display",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a38af91cc3a1fc42",
        "type": "tab",
        "label": "About",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45de91ba21f1419c",
        "type": "tab",
        "label": "Watering Valve",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "419d43751ed018a4",
        "type": "tab",
        "label": "Other controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7e466a77c730b0c",
        "type": "tab",
        "label": "Dashboard customization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91944630e67f8823",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d779b02f86232d5b",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "612029c4970808e8",
        "type": "ui_group",
        "name": "Wind",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa61fde0050f2c78",
        "type": "ui_group",
        "name": "Description",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d84cdf750c33e6e",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "97ed0143f6e72397",
        "type": "ui_group",
        "name": "Input Location",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a0e87f2cd3afbc7",
        "type": "ui_group",
        "name": "Warning Limits",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8393ed9a186d4dc",
        "type": "ui_group",
        "name": "Location Input Preference",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c98db1d143680c5",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f7b124425b22754",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e23f0493026f977",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f52b60379500048",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#deb317",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "AgroSense",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#deb317",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#deb317",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#edcc54",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#deb317",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f4b4016e9778cbe3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "13b147ce962dee35",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "67df76af35379515",
        "type": "ui_group",
        "name": "Weather Conditions at the Farm",
        "tab": "13b147ce962dee35",
        "order": 1,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ece5632b3f0cea3f",
        "type": "ui_tab",
        "name": "Control",
        "icon": "fa-cogs",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e9f80d1019e1bde2",
        "type": "ui_group",
        "name": "Weather Conditions at the Farm",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "595980240c7e577b",
        "type": "ui_group",
        "name": "Control Board",
        "tab": "ece5632b3f0cea3f",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a6bf155469a767a",
        "type": "ui_tab",
        "name": "History",
        "icon": "history",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a7a525ffdb7c71d9",
        "type": "ui_group",
        "name": "Environment",
        "tab": "8a6bf155469a767a",
        "order": 2,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "30d0d33cbc9dfc6a",
        "type": "ui_tab",
        "name": "Remote Farm",
        "icon": "fa-tree",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6408a16c7ce0d1f3",
        "type": "ui_group",
        "name": "Weather Conditions at the Farm",
        "tab": "30d0d33cbc9dfc6a",
        "order": 5,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "82332882bcc75799",
        "type": "ui_tab",
        "name": "Remote Farm History",
        "icon": "fa-line-chart",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c06882229ad05075",
        "type": "ui_group",
        "name": "Environment",
        "tab": "82332882bcc75799",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2a0496fdeeb3567",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 1,
        "width": 11,
        "height": 1
    },
    {
        "id": "dbf3e4e47b0e79ab",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 3,
        "width": 11,
        "height": 1
    },
    {
        "id": "8eda0aa28e5d587a",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 4,
        "width": 11,
        "height": 1
    },
    {
        "id": "07110cb034705fb7",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 5,
        "width": 11,
        "height": 1
    },
    {
        "id": "ea8ca881a47997d9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 6,
        "width": 28,
        "height": 1
    },
    {
        "id": "041aec5ed58b6184",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ee11e56b9220b443",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "175afcf2abedee71",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "eca450d87caacc4d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "61a2b75f7edb6437",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "f2d719c5f577b9b4",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5e1dbdf78440016",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "058d9265545c0e85",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "973d9d4ac3ec8886",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "164823e7425ae5f7",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "f1d09d03150a4d9b",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "496169480dad6512",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "e17c7ff107743dc0",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a362d234a51cae9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "4a28c4bd37a42dc5",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "c892c5d5d1dcb622",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d86a7bfc5c0add9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "367324a77c52c4d6",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb8e3792e0150c35",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "83b17004da25ca3a",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "b22be935e584b244",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "2377f01d2af65d8c",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "d36361ba47dd7544",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "7311e20f1a44479f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "73274b68427a250e",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "a4eb4266efc88d18",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "0d164ba931dd8d5a",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "35b975e5c8458874",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "7604a2edb74ee8b4",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "a7a525ffdb7c71d9",
        "order": 38,
        "width": 28,
        "height": 1
    },
    {
        "id": "97c145a9b33d1524",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 1,
        "width": 11,
        "height": 1
    },
    {
        "id": "13863788c1666324",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 3,
        "width": 11,
        "height": 1
    },
    {
        "id": "27f6adf7fd585b8d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 4,
        "width": 11,
        "height": 1
    },
    {
        "id": "de283990f11c566a",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 5,
        "width": 11,
        "height": 1
    },
    {
        "id": "f0a3828cc7bd1040",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 6,
        "width": 28,
        "height": 1
    },
    {
        "id": "ad067401c1c890de",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "1c19443da7d49b1e",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f74493bb8f6ad16",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "056b33977e5302ab",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "6e8cee61d75f3eb8",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "4bce7d9daf860616",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d045ed5c4f34081",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "baa7675ae4b8a77f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "e84857cba19f54d9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "6afddbe7fa908a87",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "2150f787a7c1eab4",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "ccac9db4d6b8f86f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "9c1936d7ce0691d1",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "b61669eb5f88402c",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "8b67f6c5e347e236",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "0383a429923f143c",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5b2009082c873b0",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "9bfce685e176db7d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "55254bb12d0c78f3",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "fc14b67afae164cc",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "c37f751661ee6a5d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "8abfa41e69145650",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "f43aebf86cf9da92",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "759bf4f32b7f9ff7",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "49daea9b8dd74ec9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "982ab068d5bc5fa3",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "034d4c761e313e55",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "f129e52349be1384",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "12c9d52fdfffad5a",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "c06882229ad05075",
        "order": 38,
        "width": 28,
        "height": 1
    },
    {
        "id": "00906945f9885c33",
        "type": "ui_tab",
        "name": "About",
        "icon": "info",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "001b6cccb10eb318",
        "type": "ui_group",
        "name": "",
        "tab": "00906945f9885c33",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ae7c2a4638c575d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "ce8d62136b9d641f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "6a62d4582b3fb905",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "be7a924803113c4f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "a25ea95054e332b1",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "b3ea8a5285a0ff27",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 7,
        "width": 8,
        "height": 1
    },
    {
        "id": "39b2a8251af29916",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "b2bc3fbdf6973a8a",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "8b7481ef0cc45bb9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "f55b2b85a68ca8a6",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "34eeb34125abf83f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "e1824c5965600ace",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "176f98510ecebcf4",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 15,
        "width": 3,
        "height": 1
    },
    {
        "id": "96ca8d465f3c66d8",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "045a7181452ab471",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "0ed1ebfce78bca88",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "bdad3b6f51860351",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 21,
        "width": 4,
        "height": 1
    },
    {
        "id": "abd080a741ebaef5",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 23,
        "width": 3,
        "height": 1
    },
    {
        "id": "33c603a15c754bc6",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 24,
        "width": 4,
        "height": 1
    },
    {
        "id": "b45e0848992392ad",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 26,
        "width": 3,
        "height": 1
    },
    {
        "id": "149826c41dc083dd",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 27,
        "width": 4,
        "height": 1
    },
    {
        "id": "11f6be72ba67c809",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 29,
        "width": 3,
        "height": 1
    },
    {
        "id": "808f31635788421f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 30,
        "width": 4,
        "height": 1
    },
    {
        "id": "12457f63fe7174ac",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 32,
        "width": 3,
        "height": 1
    },
    {
        "id": "e85629e452439f75",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 33,
        "width": 27,
        "height": 1
    },
    {
        "id": "1b100cd12d50bb92",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 34,
        "width": 3,
        "height": 1
    },
    {
        "id": "894e5849a412c144",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 36,
        "width": 3,
        "height": 1
    },
    {
        "id": "2a0c3b4ca5482b44",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 37,
        "width": 4,
        "height": 1
    },
    {
        "id": "c3fa2f13243e3962",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 39,
        "width": 3,
        "height": 1
    },
    {
        "id": "3940a5cac164172a",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 41,
        "width": 3,
        "height": 1
    },
    {
        "id": "23a896205d9b989d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 43,
        "width": 4,
        "height": 1
    },
    {
        "id": "deb90cdb53a9e238",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 44,
        "width": 4,
        "height": 1
    },
    {
        "id": "69f00cea779497c0",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 45,
        "width": 3,
        "height": 1
    },
    {
        "id": "1bacd9c94a9c982b",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 46,
        "width": 3,
        "height": 1
    },
    {
        "id": "f0a21054f60a352d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 47,
        "width": 4,
        "height": 1
    },
    {
        "id": "2c72141eaf69506c",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 48,
        "width": 4,
        "height": 1
    },
    {
        "id": "122e69ea0980a656",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 49,
        "width": 3,
        "height": 1
    },
    {
        "id": "1d4fd9174bdf235d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 50,
        "width": 3,
        "height": 1
    },
    {
        "id": "038d1c4d5504eae9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 51,
        "width": 4,
        "height": 1
    },
    {
        "id": "1720f187e16d1157",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 52,
        "width": 4,
        "height": 1
    },
    {
        "id": "59542457d55ff9f8",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 54,
        "width": 3,
        "height": 1
    },
    {
        "id": "0bd5ba4d0c508d8d",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 56,
        "width": 3,
        "height": 1
    },
    {
        "id": "a485ef39712f13a8",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 58,
        "width": 4,
        "height": 1
    },
    {
        "id": "8055812c0221a78c",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 59,
        "width": 4,
        "height": 1
    },
    {
        "id": "a9d0a84be7c84479",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 60,
        "width": 3,
        "height": 1
    },
    {
        "id": "28a40fc16678c910",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 61,
        "width": 3,
        "height": 1
    },
    {
        "id": "4ebf4505694f5573",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 62,
        "width": 4,
        "height": 1
    },
    {
        "id": "cef47c86a1da3591",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 63,
        "width": 4,
        "height": 1
    },
    {
        "id": "7f8b571acaa336b7",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 64,
        "width": 3,
        "height": 1
    },
    {
        "id": "87c9b1bfe896cf04",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 65,
        "width": 3,
        "height": 1
    },
    {
        "id": "697d0f769dbf5297",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 66,
        "width": 4,
        "height": 1
    },
    {
        "id": "c4055a1eaa97df64",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 67,
        "width": 4,
        "height": 1
    },
    {
        "id": "9b5efa7ff24918d3",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 69,
        "width": 3,
        "height": 1
    },
    {
        "id": "6301c471554bd529",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 71,
        "width": 3,
        "height": 1
    },
    {
        "id": "f6d1d75eb122be92",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 73,
        "width": 4,
        "height": 1
    },
    {
        "id": "6cab0dee13a54020",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 74,
        "width": 4,
        "height": 1
    },
    {
        "id": "f2b815c21ac1b5ce",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 75,
        "width": 3,
        "height": 1
    },
    {
        "id": "4f32b84398576816",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 76,
        "width": 3,
        "height": 1
    },
    {
        "id": "cee2209201df3684",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 77,
        "width": 4,
        "height": 1
    },
    {
        "id": "b09e4ce3741cb4b1",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 78,
        "width": 4,
        "height": 1
    },
    {
        "id": "6ea007369ae46d36",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 79,
        "width": 3,
        "height": 1
    },
    {
        "id": "a7d00e15fceb79c1",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 80,
        "width": 3,
        "height": 1
    },
    {
        "id": "a2c2e21b67c4a3e4",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "001b6cccb10eb318",
        "order": 81,
        "width": 4,
        "height": 1
    },
    {
        "id": "3f1c78098254c8bf",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "4f079a516b3e3807",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "6a49ee1f07af2bce",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "b3da4533d35b6ff9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "43c6c1ce26cfb584",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f141bc431fbc398",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e4ba8b0d807f734",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "aebc7168da84c47f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "38d6cbf50ed2632a",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "1028c25cad1344d8",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "c72383814ee66824",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "e3edda4c1069dc27",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "18c590b9f0a804db",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "4130f194aa9c63b9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "d836f75d0ea61ad0",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "ae4bf53e6fffe19b",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c96f6e4672c83a2",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "d71a0a8cce15a1cd",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "dd20a87cc46e2e22",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "3873b733e27388e8",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "19be6c890836f269",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 26,
        "width": 7,
        "height": 1
    },
    {
        "id": "be0a54fbae08ec5c",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "2454db935a25d295",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "16844d18e5e9e2d6",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb6235437ca8d817",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "2dc1f53078211162",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "ff2c41643acaf33f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "032b34a3b7c617e5",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb8c7bc039dc22e6",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b1eb95ca3ecb4d0",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "25b795fc43377d6f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "77ce9f6a3c24e358",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "9e2fc6e05cf7c0a9",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "808bb588cf6f7e65",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "46da6c68db225bd6",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "21f0fcc6fb4e7186",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "266887289504c63f",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "b61cca6c2a607976",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f8d033c51d6ec59",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 46,
        "width": 9,
        "height": 1
    },
    {
        "id": "889a82bbc991e7ec",
        "type": "ui_spacer",
        "z": "fe09c3c64111130d",
        "name": "spacer",
        "group": "6408a16c7ce0d1f3",
        "order": 48,
        "width": 9,
        "height": 1
    },
    {
        "id": "0ad8f4a9c515c5d1",
        "type": "ui_tab",
        "name": "test",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "85e85aaacbac0d1a",
        "type": "ui_group",
        "name": "Default",
        "tab": "0ad8f4a9c515c5d1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01b94ae44e7dc204",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "0866a29fdcca0af1",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "759d83a265631851",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "efc326f98149976f",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "c33b31a76bd204e8",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 6,
        "width": 27,
        "height": 1
    },
    {
        "id": "36504cfad9925c33",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 7,
        "width": 9,
        "height": 1
    },
    {
        "id": "da0ebff3b4ab1a61",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "2d8c2cd0231fc35b",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 10,
        "width": 9,
        "height": 1
    },
    {
        "id": "ba7a14e7e426fd42",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "f89a7a3536a29291",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 12,
        "width": 27,
        "height": 1
    },
    {
        "id": "3ba60fb3dc97d034",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 13,
        "width": 27,
        "height": 1
    },
    {
        "id": "6ee6b7223e6fcfce",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 14,
        "width": 27,
        "height": 1
    },
    {
        "id": "bafc3730a8817ea0",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 15,
        "width": 27,
        "height": 1
    },
    {
        "id": "efe8f65a196fac75",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "595980240c7e577b",
        "order": 16,
        "width": 27,
        "height": 1
    },
    {
        "id": "ededc10ded7a9bc2",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9268b5568518e281",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "da87e5cdaa5aaded",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d62d7fdb219aa5e4",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "d0d426684ba5d00f",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2cf9c45bb108bca9",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "b90e7e5098581ce1",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "9549fd314e5065fc",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "1b000488e38cdcef",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac4b6ecd71a60beb",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "538a371fb0770e9e",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "197e22c793240576",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "65db8bcd0597076b",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "5687ec8af0992696",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "b603d00671e14a45",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "41a8ca35f7be21f1",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "bfebc5076d63aff2",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "e2eb85f41abdce7c",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "edd711dca8375673",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "737c6712a8586da0",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "0b98264fb03a3808",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "ddba12c16c08724f",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "56ca678c1f57c2e8",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "875ea1ee2e6e4b51",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "4135b3c5378bd4f4",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "f6fb7034655dfe99",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "600cd40fd92c6aed",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "82fa32d969657fc3",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "9bbfee4e047f693c",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "08d834ced34f2f74",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "59ea26402d81e795",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "175c342bf66c0cfd",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "35b34d95a972ab51",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e7f0ff8e9345c54",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "23b27ea9536fb567",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "8baa2cae4917080e",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f62cb681c93754f",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "2b1ba932b1c04139",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "abadfb117e2c88b9",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 48,
        "width": 9,
        "height": 1
    },
    {
        "id": "ca1aa8e9d86d9a03",
        "type": "ui_spacer",
        "z": "a7e466a77c730b0c",
        "name": "spacer",
        "group": "67df76af35379515",
        "order": 50,
        "width": 9,
        "height": 1
    },
    {
        "id": "ab9bf053250ff3c9",
        "type": "mqtt in",
        "z": "fe09c3c64111130d",
        "name": "",
        "topic": "IoT-G9",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f4b4016e9778cbe3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "8ea73e93bc393c72"
            ]
        ]
    },
    {
        "id": "8ea73e93bc393c72",
        "type": "function",
        "z": "fe09c3c64111130d",
        "name": "Data Extraction",
        "func": "let weather = msg.payload.weather;\nlet temp = msg.payload.temp;\nlet hum = msg.payload.hum;\nlet light = msg.payload.light;\nlet moist = msg.payload.moist;\nlet timestamp = msg.payload.timestamp;\n\nreturn [\n    { payload: weather },\n    { payload: temp },\n    { payload: hum },\n    { payload: light },\n    { payload: moist },\n    { payload: timestamp}\n];\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "e819f2129522a52c"
            ],
            [
                "089eb0f221b12d7d",
                "f34560a790cef32f"
            ],
            [
                "9ef3163d04dc911d",
                "5b141a4ab78563d2"
            ],
            [
                "952c4cd74993f267"
            ],
            [
                "149e7423a214fa6e",
                "559be36f23d0dd6e"
            ],
            [
                "fdbbf8651ae1ae0f"
            ]
        ]
    },
    {
        "id": "e819f2129522a52c",
        "type": "ui_text",
        "z": "fe09c3c64111130d",
        "group": "67df76af35379515",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Weather ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Tahoma,Geneva,sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "089eb0f221b12d7d",
        "type": "ui_gauge",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "67df76af35379515",
        "order": 2,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature ",
        "label": "C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#245fd6",
            "#e68600",
            "#f22121"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "9ef3163d04dc911d",
        "type": "ui_gauge",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "67df76af35379515",
        "order": 6,
        "width": 8,
        "height": 5,
        "gtype": "wave",
        "title": "Humidity ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "952c4cd74993f267",
        "type": "ui_gauge",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "67df76af35379515",
        "order": 29,
        "width": 8,
        "height": 5,
        "gtype": "donut",
        "title": "Light Level ",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#535d04",
            "#afaf08",
            "#e6f50f"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "149e7423a214fa6e",
        "type": "ui_gauge",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "67df76af35379515",
        "order": 25,
        "width": 8,
        "height": 5,
        "gtype": "wave",
        "title": "Soil Moisture ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "559be36f23d0dd6e",
        "type": "ui_chart",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "a7a525ffdb7c71d9",
        "order": 12,
        "width": 8,
        "height": 7,
        "label": "Soil Moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fdbbf8651ae1ae0f",
        "type": "ui_text",
        "z": "fe09c3c64111130d",
        "group": "67df76af35379515",
        "order": 49,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Last refresh",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b141a4ab78563d2",
        "type": "ui_chart",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "a7a525ffdb7c71d9",
        "order": 10,
        "width": 8,
        "height": 7,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f34560a790cef32f",
        "type": "ui_chart",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "a7a525ffdb7c71d9",
        "order": 8,
        "width": 8,
        "height": 7,
        "label": "Temperature",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "857fbee82d2a1249",
        "type": "mqtt in",
        "z": "fe09c3c64111130d",
        "name": "",
        "topic": "IoT-G9",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f4b4016e9778cbe3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "f33506e0967f2298"
            ]
        ]
    },
    {
        "id": "f33506e0967f2298",
        "type": "function",
        "z": "fe09c3c64111130d",
        "name": "Data Extraction",
        "func": "let weather = msg.payload.weather;\nlet temp = msg.payload.temp;\nlet hum = msg.payload.hum;\nlet light = msg.payload.light;\nlet moist = msg.payload.moist;\nlet timestamp = msg.payload.timestamp;\n\nreturn [\n    { payload: weather },\n    { payload: temp },\n    { payload: hum },\n    { payload: light },\n    { payload: moist },\n    { payload: timestamp}\n];\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "e36512025203b16e"
            ],
            [
                "ab2f2ee988cd2550",
                "ebb492eba57dc2f1"
            ],
            [
                "058f0f03b55420be",
                "27a8c35d60320180"
            ],
            [
                "3b667ddd33ede9a1"
            ],
            [
                "47b6317a88bfb431",
                "1f93ef9cfbbe0efa"
            ],
            [
                "d5720d3d644e3b28"
            ]
        ]
    },
    {
        "id": "e36512025203b16e",
        "type": "ui_text",
        "z": "fe09c3c64111130d",
        "group": "6408a16c7ce0d1f3",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "Weather - Remote",
        "label": "Weather ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Tahoma,Geneva,sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "ab2f2ee988cd2550",
        "type": "ui_gauge",
        "z": "fe09c3c64111130d",
        "name": "Temperature  - Remote",
        "group": "6408a16c7ce0d1f3",
        "order": 2,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature ",
        "label": "C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#245fd6",
            "#e68600",
            "#f22121"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "058f0f03b55420be",
        "type": "ui_gauge",
        "z": "fe09c3c64111130d",
        "name": "Humidity  - Remote",
        "group": "6408a16c7ce0d1f3",
        "order": 6,
        "width": 8,
        "height": 5,
        "gtype": "wave",
        "title": "Humidity ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "3b667ddd33ede9a1",
        "type": "ui_gauge",
        "z": "fe09c3c64111130d",
        "name": "Light Level  - Remote",
        "group": "6408a16c7ce0d1f3",
        "order": 27,
        "width": 8,
        "height": 5,
        "gtype": "donut",
        "title": "Light Level ",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#535d04",
            "#afaf08",
            "#e6f50f"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 680,
        "wires": []
    },
    {
        "id": "47b6317a88bfb431",
        "type": "ui_gauge",
        "z": "fe09c3c64111130d",
        "name": "Soil Moisture - Remote",
        "group": "6408a16c7ce0d1f3",
        "order": 25,
        "width": 8,
        "height": 5,
        "gtype": "wave",
        "title": "Soil Moisture ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 740,
        "wires": []
    },
    {
        "id": "d5720d3d644e3b28",
        "type": "ui_text",
        "z": "fe09c3c64111130d",
        "group": "6408a16c7ce0d1f3",
        "order": 47,
        "width": 7,
        "height": 1,
        "name": "Last refresh - Remote",
        "label": "Last refresh",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "1f93ef9cfbbe0efa",
        "type": "ui_chart",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "c06882229ad05075",
        "order": 12,
        "width": 8,
        "height": 7,
        "label": "Soil Moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "27a8c35d60320180",
        "type": "ui_chart",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "c06882229ad05075",
        "order": 10,
        "width": 8,
        "height": 7,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ebb492eba57dc2f1",
        "type": "ui_chart",
        "z": "fe09c3c64111130d",
        "name": "",
        "group": "c06882229ad05075",
        "order": 8,
        "width": 8,
        "height": 7,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8a4b45a7a11337aa",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 11,
        "width": 21,
        "height": 2,
        "name": "Intro",
        "label": "AgroSense is an integrated IoT-based smart farming system designed to monitor environmental conditions and automate irrigation processes, enabling farmers to remotely monitor and control their fields  including those located several kilometers away.  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "f477291d08460b43",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 16,
        "width": 21,
        "height": 1,
        "name": "",
        "label": " Objectives",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 300,
        "y": 120,
        "wires": []
    },
    {
        "id": "3052d11093b3584c",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 19,
        "width": 21,
        "height": 1,
        "name": "",
        "label": "To build a scalable and intelligent farming solution that:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#ffffff",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "e1cede719ed736db",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 22,
        "width": 20,
        "height": 1,
        "name": "",
        "label": " Collects real-time data from multiple environmental sensors  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#ffffff",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "095c934ae8d11c8a",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 25,
        "width": 20,
        "height": 1,
        "name": "",
        "label": " Makes automated irrigation decisions  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#ffffff",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "ef5f2ff860589076",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 28,
        "width": 20,
        "height": 1,
        "name": "",
        "label": " Provides cloud-based monitoring and control via a Node-RED dashboard  ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#ffffff",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "d1788fd11af67935",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 31,
        "width": 20,
        "height": 1,
        "name": "",
        "label": " Bridges long distances using LoRa (Long Range) communication",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#ffffff",
        "x": 470,
        "y": 420,
        "wires": []
    },
    {
        "id": "555a91d8404f07b4",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 35,
        "width": 21,
        "height": 1,
        "name": "",
        "label": "The Team - Group 9",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "28",
        "color": "#ffffff",
        "x": 330,
        "y": 480,
        "wires": []
    },
    {
        "id": "70e8e0ad52621fad",
        "type": "ui_template",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "name": "Nimesh",
        "order": 42,
        "width": 5,
        "height": 3,
        "format": "<div style=\"text-align:center;\">\n  <img src=\"/profile.png\" width=\"150\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 280,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a20e136c2b105bd7",
        "type": "ui_template",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "name": "Pamith",
        "order": 57,
        "width": 5,
        "height": 3,
        "format": "<div style=\"text-align:center;\">\n  <img src=\"/pamith.png\" width=\"150\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0d55e6524d86808e",
        "type": "ui_template",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "name": "Udith",
        "order": 72,
        "width": 5,
        "height": 3,
        "format": "<div style=\"text-align:center;\">\n  <img src=\"/udith.png\" width=\"150\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 550,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9a8f4a5fbbc2356b",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 40,
        "width": 5,
        "height": 3,
        "name": "",
        "label": "Nimesh Fonseka",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "x": 310,
        "y": 600,
        "wires": []
    },
    {
        "id": "7a7ae0aa20f54f35",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 55,
        "width": 5,
        "height": 3,
        "name": "",
        "label": "Pamith Salwathura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "x": 310,
        "y": 660,
        "wires": []
    },
    {
        "id": "c906f8405da3e8c8",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 70,
        "width": 5,
        "height": 3,
        "name": "",
        "label": "Udith Ishanka",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "x": 300,
        "y": 720,
        "wires": []
    },
    {
        "id": "a9dcb625c467e243",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 38,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "200174M",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "7cf1914e8aaf5eec",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 53,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "200553B",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "855b3553c04709b0",
        "type": "ui_text",
        "z": "a38af91cc3a1fc42",
        "group": "001b6cccb10eb318",
        "order": 68,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "200571D",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "70d3f1617041d86c",
        "type": "mqtt out",
        "z": "45de91ba21f1419c",
        "name": "",
        "topic": "IoT-G9/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4b4016e9778cbe3",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "e8bdc9447cc6d10b",
        "type": "change",
        "z": "45de91ba21f1419c",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "a132b695902d1b67",
                "2878f86bf0acb759"
            ]
        ]
    },
    {
        "id": "42a3738adfd7cd85",
        "type": "mqtt in",
        "z": "45de91ba21f1419c",
        "name": "",
        "topic": "IoT-G9/valve",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f4b4016e9778cbe3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "2b46b60c9bbf35d8"
            ]
        ]
    },
    {
        "id": "a132b695902d1b67",
        "type": "ui_gauge",
        "z": "45de91ba21f1419c",
        "name": "",
        "group": "6408a16c7ce0d1f3",
        "order": 31,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Valve ",
        "label": "ON/OFF",
        "format": "ON ",
        "min": "0",
        "max": "1",
        "colors": [
            "#dd7373",
            "#e6e600",
            "#33c00c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "9148b47cb355c0f9",
        "type": "ui_switch",
        "z": "45de91ba21f1419c",
        "name": "",
        "label": "Watering Valve",
        "tooltip": "Toggle the valve",
        "group": "67df76af35379515",
        "order": 26,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "e8bdc9447cc6d10b",
                "70d3f1617041d86c"
            ]
        ]
    },
    {
        "id": "2878f86bf0acb759",
        "type": "ui_gauge",
        "z": "45de91ba21f1419c",
        "name": "",
        "group": "67df76af35379515",
        "order": 33,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Valve ",
        "label": "ON/OFF",
        "format": "ON ",
        "min": "0",
        "max": "1",
        "colors": [
            "#dd7373",
            "#e6e600",
            "#33c00c"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "2b46b60c9bbf35d8",
        "type": "change",
        "z": "45de91ba21f1419c",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OPEN",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "CLOSE",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "9148b47cb355c0f9"
            ]
        ]
    },
    {
        "id": "552c1b9c85584d70",
        "type": "mqtt out",
        "z": "419d43751ed018a4",
        "name": "",
        "topic": "IoT-G9/soil",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4b4016e9778cbe3",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "2a1e891f0ebfa439",
        "type": "ui_slider",
        "z": "419d43751ed018a4",
        "name": "",
        "label": "Soil Moisture Threshold Level",
        "tooltip": "Enter value for automatic watering",
        "group": "595980240c7e577b",
        "order": 8,
        "width": 11,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "80",
        "step": "5",
        "className": "",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "552c1b9c85584d70"
            ]
        ]
    },
    {
        "id": "f13df848c56e0799",
        "type": "inject",
        "z": "419d43751ed018a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "2a1e891f0ebfa439"
            ]
        ]
    },
    {
        "id": "1b956708d416d3d2",
        "type": "ui_switch",
        "z": "419d43751ed018a4",
        "name": "",
        "label": "Automation",
        "tooltip": "Automate the watering valve",
        "group": "67df76af35379515",
        "order": 28,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "ec172a9dadc9331a",
                "2417895c10e832fe"
            ]
        ]
    },
    {
        "id": "ec172a9dadc9331a",
        "type": "mqtt out",
        "z": "419d43751ed018a4",
        "name": "",
        "topic": "IoT-G9/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4b4016e9778cbe3",
        "x": 370,
        "y": 220,
        "wires": []
    },
    {
        "id": "2417895c10e832fe",
        "type": "debug",
        "z": "419d43751ed018a4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "43d3e3e26ba18dc4",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "67df76af35379515",
        "name": "Logo - Home",
        "order": 17,
        "width": 5,
        "height": 2,
        "format": "<div style=\"text-align:center; cursor: pointer;\" ng-click=\"send({payload: 'About'})\">\n  <img src=\"/logo.png\" width=\"250\" />\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "c305953f3c544ee8"
            ]
        ]
    },
    {
        "id": "6bb87519fdb9cf36",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "595980240c7e577b",
        "name": "Logo - Control",
        "order": 2,
        "width": 5,
        "height": 2,
        "format": "<div style=\"text-align:center; cursor: pointer;\" ng-click=\"send({payload: 'About'})\">\n  <img src=\"/logo.png\" width=\"250\" />\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "d078959be4adc8a6"
            ]
        ]
    },
    {
        "id": "399dac57fedd3b5a",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "a7a525ffdb7c71d9",
        "name": "Logo - History",
        "order": 2,
        "width": 6,
        "height": 2,
        "format": "<div style=\"text-align:center; cursor: pointer;\" ng-click=\"send({payload: 'About'})\">\n  <img src=\"/logo.png\" width=\"250\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "48665f8f025321f5"
            ]
        ]
    },
    {
        "id": "9de8738de66d8558",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "6408a16c7ce0d1f3",
        "name": "Logo -Remote Farm",
        "order": 17,
        "width": 5,
        "height": 2,
        "format": "<div style=\"text-align:center; cursor: pointer;\" ng-click=\"send({payload: 'About'})\">\n  <img src=\"/logo.png\" width=\"250\" />\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "b50c2facd57c2abf"
            ]
        ]
    },
    {
        "id": "76cec2179c5fcc15",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "c06882229ad05075",
        "name": "Logo - Remote Farm History",
        "order": 2,
        "width": 6,
        "height": 2,
        "format": "<div style=\"text-align:center; cursor: pointer;\" ng-click=\"send({payload: 'About'})\">\n  <img src=\"/logo.png\" width=\"250\" />\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "1bccb6fed3afa787"
            ]
        ]
    },
    {
        "id": "c2e184e13235b472",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "67df76af35379515",
        "name": "Home template",
        "order": 51,
        "width": 0,
        "height": 0,
        "format": "<style>\n  body {\n    font-family: 'Poppins', sans-serif;\n    background-color: #1a1b26 !important;\n    color: #e8e8f2 !important;\n  }\n\n  md-card {\n  background: rgba(255, 255, 255, 0.05) !important;\n  border-radius: 14px !important;\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n  border: 1px solid rgba(255, 255, 255, 0.08);\n  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25) !important;\n  }\n\n  .nr-dashboard-cardtitle,\n  .nr-dashboard-template .title,\n  .nr-dashboard-gauge .label,\n  .nr-dashboard-gauge .value,\n  .nr-dashboard-gauge .units {\n    color: #e8e8f2 !important;\n    font-weight: 500;\n    font-size: 16px;\n  }\n\n  .gauge-value {\n    font-size: 22px !important;\n    color: #7ed6df !important; /* soft teal */\n  }\n\n  .nr-dashboard-button .md-button {\n    background-color: #3c445c !important;\n    color: #ffffff !important;\n    border-radius: 12px !important;\n    transition: background 0.3s ease;\n  }\n\n  .nr-dashboard-button .md-button:hover {\n    background-color: #4b5169 !important;\n  }\n\n  .valve-on {\n    animation: glow 1.5s infinite;\n    background-color: #2ecc71 !important;\n    color: #1a1a1a !important;\n  }\n\n  @keyframes glow {\n    0% { box-shadow: 0 0 5px #2ecc71; }\n    50% { box-shadow: 0 0 20px #2ecc71; }\n    100% { box-shadow: 0 0 5px #2ecc71; }\n  }\n\n  /* Optional: rounded gauge ring */\n  .nr-dashboard-gauge path {\n    stroke-linecap: round !important;\n  }\n\n  /* Optional: wave fill styling */\n  .nr-dashboard-gauge .wave {\n    fill: #ffdd59 !important; /* warm lime */\n  }\n\n  .nr-dashboard-text {\n    font-size: 16px !important;\n    color: #ffffff !important;\n  }\n\n  /* Material icon tweak */\n  .material-icons {\n    vertical-align: middle;\n    margin-right: 4px;\n    color: #ffd369;\n  }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2eb6e4e3fc3add10",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "595980240c7e577b",
        "name": "Control template",
        "order": 17,
        "width": 27,
        "height": 1,
        "format": "<style>\n  body {\n    font-family: 'Poppins', sans-serif;\n    background-color: #1a1b26 !important;\n    color: #e8e8f2 !important;\n  }\n\n  md-card {\n  background: rgba(255, 255, 255, 0.05) !important;\n  border-radius: 14px !important;\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n  border: 1px solid rgba(255, 255, 255, 0.08);\n  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25) !important;\n  }\n\n  .nr-dashboard-cardtitle,\n  .nr-dashboard-template .title,\n  .nr-dashboard-gauge .label,\n  .nr-dashboard-gauge .value,\n  .nr-dashboard-gauge .units {\n    color: #e8e8f2 !important;\n    font-weight: 500;\n    font-size: 16px;\n  }\n\n  .gauge-value {\n    font-size: 22px !important;\n    color: #7ed6df !important; /* soft teal */\n  }\n\n  .nr-dashboard-button .md-button {\n    background-color: #3c445c !important;\n    color: #ffffff !important;\n    border-radius: 12px !important;\n    transition: background 0.3s ease;\n  }\n\n  .nr-dashboard-button .md-button:hover {\n    background-color: #4b5169 !important;\n  }\n\n  .valve-on {\n    animation: glow 1.5s infinite;\n    background-color: #2ecc71 !important;\n    color: #1a1a1a !important;\n  }\n\n  @keyframes glow {\n    0% { box-shadow: 0 0 5px #2ecc71; }\n    50% { box-shadow: 0 0 20px #2ecc71; }\n    100% { box-shadow: 0 0 5px #2ecc71; }\n  }\n\n  /* Optional: rounded gauge ring */\n  .nr-dashboard-gauge path {\n    stroke-linecap: round !important;\n  }\n\n  /* Optional: wave fill styling */\n  .nr-dashboard-gauge .wave {\n    fill: #ffdd59 !important; /* warm lime */\n  }\n\n  .nr-dashboard-text {\n    font-size: 16px !important;\n    color: #ffffff !important;\n  }\n\n  /* Material icon tweak */\n  .material-icons {\n    vertical-align: middle;\n    margin-right: 4px;\n    color: #ffd369;\n  }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ef58045207f21bb9",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "a7a525ffdb7c71d9",
        "name": "History template",
        "order": 39,
        "width": 0,
        "height": 0,
        "format": "<style>\n  body {\n    font-family: 'Poppins', sans-serif;\n    background-color: #1a1b26 !important;\n    color: #e8e8f2 !important;\n  }\n\n  md-card {\n  background: rgba(255, 255, 255, 0.05) !important;\n  border-radius: 14px !important;\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n  border: 1px solid rgba(255, 255, 255, 0.08);\n  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25) !important;\n  }\n\n  .nr-dashboard-cardtitle,\n  .nr-dashboard-template .title,\n  .nr-dashboard-gauge .label,\n  .nr-dashboard-gauge .value,\n  .nr-dashboard-gauge .units {\n    color: #e8e8f2 !important;\n    font-weight: 500;\n    font-size: 16px;\n  }\n\n  .gauge-value {\n    font-size: 22px !important;\n    color: #7ed6df !important; /* soft teal */\n  }\n\n  .nr-dashboard-button .md-button {\n    background-color: #3c445c !important;\n    color: #ffffff !important;\n    border-radius: 12px !important;\n    transition: background 0.3s ease;\n  }\n\n  .nr-dashboard-button .md-button:hover {\n    background-color: #4b5169 !important;\n  }\n\n  .valve-on {\n    animation: glow 1.5s infinite;\n    background-color: #2ecc71 !important;\n    color: #1a1a1a !important;\n  }\n\n  @keyframes glow {\n    0% { box-shadow: 0 0 5px #2ecc71; }\n    50% { box-shadow: 0 0 20px #2ecc71; }\n    100% { box-shadow: 0 0 5px #2ecc71; }\n  }\n\n  /* Optional: rounded gauge ring */\n  .nr-dashboard-gauge path {\n    stroke-linecap: round !important;\n  }\n\n  /* Optional: wave fill styling */\n  .nr-dashboard-gauge .wave {\n    fill: #ffdd59 !important; /* warm lime */\n  }\n\n  .nr-dashboard-text {\n    font-size: 16px !important;\n    color: #ffffff !important;\n  }\n\n  /* Material icon tweak */\n  .material-icons {\n    vertical-align: middle;\n    margin-right: 4px;\n    color: #ffd369;\n  }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8d790c4819799fe6",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "6408a16c7ce0d1f3",
        "name": "Remote Farm template",
        "order": 49,
        "width": 0,
        "height": 0,
        "format": "<style>\n  body {\n    font-family: 'Poppins', sans-serif;\n    background-color: #1a1b26 !important;\n    color: #e8e8f2 !important;\n  }\n\n  md-card {\n  background: rgba(255, 255, 255, 0.05) !important;\n  border-radius: 14px !important;\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n  border: 1px solid rgba(255, 255, 255, 0.08);\n  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25) !important;\n  }\n\n  .nr-dashboard-cardtitle,\n  .nr-dashboard-template .title,\n  .nr-dashboard-gauge .label,\n  .nr-dashboard-gauge .value,\n  .nr-dashboard-gauge .units {\n    color: #e8e8f2 !important;\n    font-weight: 500;\n    font-size: 16px;\n  }\n\n  .gauge-value {\n    font-size: 22px !important;\n    color: #7ed6df !important; /* soft teal */\n  }\n\n  .nr-dashboard-button .md-button {\n    background-color: #3c445c !important;\n    color: #ffffff !important;\n    border-radius: 12px !important;\n    transition: background 0.3s ease;\n  }\n\n  .nr-dashboard-button .md-button:hover {\n    background-color: #4b5169 !important;\n  }\n\n  .valve-on {\n    animation: glow 1.5s infinite;\n    background-color: #2ecc71 !important;\n    color: #1a1a1a !important;\n  }\n\n  @keyframes glow {\n    0% { box-shadow: 0 0 5px #2ecc71; }\n    50% { box-shadow: 0 0 20px #2ecc71; }\n    100% { box-shadow: 0 0 5px #2ecc71; }\n  }\n\n  /* Optional: rounded gauge ring */\n  .nr-dashboard-gauge path {\n    stroke-linecap: round !important;\n  }\n\n  /* Optional: wave fill styling */\n  .nr-dashboard-gauge .wave {\n    fill: #ffdd59 !important; /* warm lime */\n  }\n\n  .nr-dashboard-text {\n    font-size: 16px !important;\n    color: #ffffff !important;\n  }\n\n  /* Material icon tweak */\n  .material-icons {\n    vertical-align: middle;\n    margin-right: 4px;\n    color: #ffd369;\n  }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0726526ad4f70109",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "c06882229ad05075",
        "name": "Remote Farm History template",
        "order": 39,
        "width": 0,
        "height": 0,
        "format": "<style>\n  body {\n    font-family: 'Poppins', sans-serif;\n    background-color: #1a1b26 !important;\n    color: #e8e8f2 !important;\n  }\n\n  md-card {\n  background: rgba(255, 255, 255, 0.05) !important;\n  border-radius: 14px !important;\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n  border: 1px solid rgba(255, 255, 255, 0.08);\n  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25) !important;\n  }\n\n  .nr-dashboard-cardtitle,\n  .nr-dashboard-template .title,\n  .nr-dashboard-gauge .label,\n  .nr-dashboard-gauge .value,\n  .nr-dashboard-gauge .units {\n    color: #e8e8f2 !important;\n    font-weight: 500;\n    font-size: 16px;\n  }\n\n  .gauge-value {\n    font-size: 22px !important;\n    color: #7ed6df !important; /* soft teal */\n  }\n\n  .nr-dashboard-button .md-button {\n    background-color: #3c445c !important;\n    color: #ffffff !important;\n    border-radius: 12px !important;\n    transition: background 0.3s ease;\n  }\n\n  .nr-dashboard-button .md-button:hover {\n    background-color: #4b5169 !important;\n  }\n\n  .valve-on {\n    animation: glow 1.5s infinite;\n    background-color: #2ecc71 !important;\n    color: #1a1a1a !important;\n  }\n\n  @keyframes glow {\n    0% { box-shadow: 0 0 5px #2ecc71; }\n    50% { box-shadow: 0 0 20px #2ecc71; }\n    100% { box-shadow: 0 0 5px #2ecc71; }\n  }\n\n  /* Optional: rounded gauge ring */\n  .nr-dashboard-gauge path {\n    stroke-linecap: round !important;\n  }\n\n  /* Optional: wave fill styling */\n  .nr-dashboard-gauge .wave {\n    fill: #ffdd59 !important; /* warm lime */\n  }\n\n  .nr-dashboard-text {\n    font-size: 16px !important;\n    color: #ffffff !important;\n  }\n\n  /* Material icon tweak */\n  .material-icons {\n    vertical-align: middle;\n    margin-right: 4px;\n    color: #ffd369;\n  }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "793deb37aff7644c",
        "type": "ui_template",
        "z": "a7e466a77c730b0c",
        "group": "001b6cccb10eb318",
        "name": "Logo - About",
        "order": 2,
        "width": 11,
        "height": 4,
        "format": "<div style=\"text-align:center;\">\n  <img src=\"/logo.png\" width=\"500\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 350,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1bccb6fed3afa787",
        "type": "ui_ui_control",
        "z": "a7e466a77c730b0c",
        "name": "",
        "events": "change",
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c305953f3c544ee8",
        "type": "ui_ui_control",
        "z": "a7e466a77c730b0c",
        "name": "",
        "events": "change",
        "x": 620,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d078959be4adc8a6",
        "type": "ui_ui_control",
        "z": "a7e466a77c730b0c",
        "name": "",
        "events": "change",
        "x": 620,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b50c2facd57c2abf",
        "type": "ui_ui_control",
        "z": "a7e466a77c730b0c",
        "name": "",
        "events": "change",
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "48665f8f025321f5",
        "type": "ui_ui_control",
        "z": "a7e466a77c730b0c",
        "name": "",
        "events": "change",
        "x": 620,
        "y": 220,
        "wires": [
            []
        ]
    }
]